/* #sectionContainer {
  transition: background-color 0.3s;
} */

#sectionBlock {
  background-color: var(--bs-400);
}
#sectionTitle {
  color: var(--bs-400);
}
#sectionBlock {
  transition: width 0.5s;
}

#sectionContainer:hover #sectionBlock{
  background-color: var(--bs-600);
  width: 100px;
}
#sectionContainer:hover #sectionTitle{
  color: var(--bs-600);
}